@model Storage.Models.Product.ProductViewModels

<h1>@ViewBag.Title.</h1>
<hr />

@if (Model.Error.Error)
{
    @Html.Partial("_ModalError", Model.Error)
}
else
{
    <p>
        <label class="ActionPop" data-url="@Url.Action("productCreate")">Create New</label>
    </p>

    if (ViewBag.successful)
    {
        <div class="alert alert-success" role="alert"><label class="glyphicon glyphicon-ok"></label> @ViewBag.Message</div>
    }


    <table class="table">
        <tr>
            <th>#</th>
            <th>Code</th>
            <th>Name</th>
            <th>Unit</th>
            <th>Product Type</th>
            <th>Detail</th>
            <th>Status</th>
            <th></th>
        </tr>
        @{int i = 1;}
        @foreach (var item in Model.ProductsList)
        {
            <tr>
                <td>@i</td>
                <td>@item.code</td>
                <td>@item.name</td>
                <td>@item.unit</td>
                <td>
                    @foreach (var items in Model.ProductTypeList)
                    {
                        if (items.id == item.idProductType)
                        {
                            @items.name
                        }
                    }
                </td>
                <td>@item.detail</td>
                <td @if (@item.state == "Active") { @(" style = color:green;")    ; } else { @(" style = color:red;") ;  }>@item.state</td>
            <td>
                <label class="ActionPop" data-url="@Url.Action("productEdit", new { id = item.id })">Edit</label>
                @if (@item.state == "Active")
                {
                    @Html.ActionLink("Disable", "productDisable", new { id = item.id, state = "Disable" });
                }
                else
                {
                    @Html.ActionLink("Active", "productDisable", new { id = item.id, state = "Active" });
                }
            </td>
        </tr>
    i++;
}
    </table>
    <p>
        <label class="ActionPop" data-url="@Url.Action("productCreate")">Create New</label>
    </p>
        }